.new-todo-form {
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 4px 8px grey;
  margin: 20px 0 40px 0;
}

.new-todo-input {
  font-size: 16px;
  padding: 8px;
  border: none;
  border-bottom: 2px solid #ddd;
  border-radius: 8px;
  width: 70%;
  outline: none;
}

.new-todo-button {
  font-size: 16px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  margin-left: 8px;
  width: 20%;
  background-color: #22ee22;
  transition: 275ms;
}

button:disabled {
  cursor: not-allowed;
  background-color: rgba(34, 238, 34, 0.4);
}
